@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");


@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

.active {
    color: #808000;
}

@layer components {
    .bannerIcon{
        @apply w-16 h-16 bg-lightText bg-opacity-25 text-xl inline-flex
        items-center justify-center rounded-md shadow-shadowOne hover:bg-opacity-40
        hover:translate-y-1 transition-all hover:text-designColor cursor-pointer duration-300 border-none
    }
}

    .resumelist {
        @apply w-full h-20 bg-designColor bg-opacity-25 text-xl flex justify-center cursor-pointer hover:bg-opacity-40 duration-300 items-center
    }

    .contactInput{
        @apply w-full h-12 rounded-lg border-b-[1px] border-b-designColor text-lightText px-4
    }